html {
    font-size: 62.5%
}

body {
    font-family: 'Open Sans','Arial', sans-serif;
    font-size: 1.6rem;
}

ul li {
    margin: 1rem;
}

code {
    background-color: #dddddd;
    padding: .5rem;
    margin: 0 .5rem;
    font-family: 'Roboto Mono', 'Courier New', sans-serif;
    font-size: 1.5rem;
}